.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: #BC4749;
    color: #F2E8CF;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  .navbar-logo-link {
    color: #F2E8CF;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #F2E8CF;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #6A994E;
  }