.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: #001845;
    color: #F2E8CF;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  .navbar-logo-link {
    color: #0466c8;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #979dac;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #0466c8;
  }