.main {
    color: #FFD700;
}

.help {
    color: #FFD700;
}

.registration {
    color: #FFD700;
}

.login {
    color: #FFD700;
}

.player {
    color: #FFD700;
    font-size: 20px;
}

.rules {
    color: #FFD700;
    font-size: 30px;
}

