.main {
    color: #FFD700;
}

.scores {
    color: #FFD700;
}

.stats {
    color: #FFD700;
}

.help {
    color: #FFD700;
}

.registration {
    color: #FFD700;
}

.login {
    color: #FFD700;
}

.player {
    color: #FFD700;
}

